.DS_Store
IMG_*.PNG
IMG_*.png
Screen*
*.mov
卡片动效.mov
/tmp/
第一版.mp4
fadeout_*.wav
返回.PNG
小喇叭.PNG
背景.png
星云图.png
门.png
左植物.png
右植物.png
背景2.png
塔罗背景图.png
测试*.html
*测试*.html
*.ttf
叛逆明朝.*
香萃潮汐宋*
Daizen.woff2
